:root {
  --bg-dark: #0f1115;
  --card-dark: #161a22;
  --border-dark: #222633;
  --primary: #4f9cff;
  --danger: #ff4d4f;
  --text-light: #eaeaea;
  --text-muted: #a0a0a0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: var(--bg-dark);
  color: var(--text-light);
}

a {
  text-decoration: none;
  color: inherit;
}
